// Begin Variables
$color-white: #fff;
$color-black: #333;

$color-grey: #7e7e7e;
$color-shaft: #222;

$color-primary: #d6b15e;
$color-primary-light: #d6b161;

$border-color: #f0f0f0;
$border-box: #e9e9e9;
// End Variables