// Begin thumb
.thumb {
  position: relative;

  &:hover {
    .thumb-info {
      opacity: 1;

      .thumb-link {
        top: 40%;
        margin-top: -5.5rem;
      }

      .thumb-detail {
        bottom: 45%;
        margin-bottom: -9rem;
      }

      .social-link {
        bottom: 10%;
      }
    }
  }

  .thumb-img {
    .thumb-intro {
      position: absolute;
      right: 0;
      bottom: 3rem;

      width: 70%;

      padding: 1rem 2rem;

      background: rgba(0, 0, 0, 0.7);
    }
  }

  .thumb-info {
    background-color: rgba(255, 255, 255, 0.9);

    border: 2rem solid rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;

    transition: all 0.3s;

    .thumb-link,
    .thumb-detail,
    .social-link {
      position: absolute;
      left: 0;

      width: 100%;

      transition: all 0.3s 0.2s;
    }

    .thumb-link {
      position: absolute;
      top: 0;

      -webkit-transform: translateY(45%);
      -ms-transform: translateY(45%);
      transform: translateY(45%);
    }

    .thumb-detail {
      padding: 0 2rem;
      bottom: 0;

      -webkit-transform: translateY(-55%);
      -ms-transform: translateY(-55%);
      transform: translateY(-55%);
    }

    .social-link {
      bottom: 0;
    }
  }
}
// End thumb
