// Begin Reset Default Browser
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
}

dl, ol, ul {
  list-style: none;
  margin: 0;
}
// End Reset Default Browser